<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/gallery-grid.css">
    <title>Hello, world!</title>
    <style>
        .ul{
            color:ivory
            
        }
        body{
          background-color: lightblue;
        }
        .card-deck{
          padding: 10px;
          margin-top: 20px;
        }
        .navbar{
          padding-top: 10px;
        }
        .text-block {
          position:relative;
          bottom: 0px;
          right: 0px;
          background-color: black;
          color: white;
          padding-left: 20px;
          padding-right: 20px;
        }
        .image {
          opacity: 5;
          display: block;
          width: 100%;
          height: auto;
          transition: .5s ease;
          backface-visibility: hidden;
        }
        .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }
        
        .container:hover .image {
          opacity: 0.3;
        }
        
        .container:hover .middle {
          opacity: 1;
        }
    </style>
  </head>
  <body>
    <h1>Admin page </h1>
    <hr>
    <!--adminnav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
             <a class="navbar-brand" href="#">Navbar</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
           
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#">Link</a>
                 </li>
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Dropdown
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">Action</a>
                     <a class="dropdown-item" href="#">Another action</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Something else here</a>
                   </div>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                 </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" id="sbtn" type="submit">Search</button>
               </form>
             </div>
           </nav>
    <!--adminnav bar
    

    <div class="container">
        <div class="card-deck">
            <div class="card">
              <img class="card-img" src="/static/image/p1.jpg" class="image" alt="Card image cap">
              <div class="middle">
                  <a href="Oproduct.html" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/static/image/b2.jpg" class="image" alt="Card image cap">
              <div class="text-block">
                  <h4>Nature</h4>
                  <p>What a beautiful sunrise</p>
                </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/static/image/b3.jpg" class="image" alt="Card image cap">
              <div class="text-block">
                  <h4>Nature</h4>
                  <p>What a beautiful sunrise</p>
                </div>
            </div>
          </div>
        </div>-->

        <!---new  -->
        <div class="container gallery-container">

          <h1>Admin Actions</h1>
      
          <p class="page-description text-center"></p>
          
          <div class="tz-gallery">
      
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b4.jpg" alt="Park">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b3.jpg" alt="Bridge">
                      </a>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b1.jpg" alt="Tunnel">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b1.jpg" alt="Coast">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b1.jpg" alt="Rails">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b1.jpg" alt="Traffic">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b1.jpg" alt="Rocks">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b3.jpg" alt="Benches">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/image/b2.jpg" alt="Sky">
                      </a>
                  </div>
              </div>
      
          </div>
      
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  
    <script>
      baguetteBox.run('.tz-gallery');
  </script>
  </body>
</html>