{% extends 'nav.html'%}

{% block extra_head %}

<link rel="stylesheet" href="/static/css/checkout.css">

 {% endblock %}

{% block title %} Checkout page {% endblock %}


{% block content %}

<body class="grey lighten-3">
    <!--Main layout-->
    <main class="mt-5 pt-4">
      <div class="container wow fadeIn">
  
        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>
        
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-8 mb-4">
  
            <!--Card-->
            <div class="card">
  
              <!--Card content-->
              <form method="POST" class="card-body">
                  {% csrf_token %}
                <!--Grid row-->
              <h3>Billing Address </h3>
  
              <div class='hideable_billing_form'>
                    <!--address-->
                    <div class="md-form mb-5">
                        <label for="address" class="">Address</label>
                      <input type="text" id="address1" name="address1" class="form-control" placeholder="1234 Main St">
                      
                    </div>
      
                    <!--address-2-->
                    <div class="md-form mb-5">
                        <label for="address-2" class="">Address 2 (optional)</label>
                      <input type="text" id="address2" name="address2" class="form-control" placeholder="Apartment or suite">
                      
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone</label>
                            <!-- <input type="number" class="form-control" id="phone" name="phone"> -->
                            <input type="number" class="form-control" id="phone" name="phone" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" />
                          </div>
                          
                      </div>
      
                    <!--Grid row-->
                    <div class="row">
      
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-12 mb-4">
      
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" name="counrty" >
                          <option value="">Choose...</option>
                          <option>India</option>
                        </select>
                        <div class="invalid-feedback">
                          Please select a valid country.
                        </div>
      
                      </div>
                      <!--Grid column-->
      
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-6 mb-4">
                          <label for="zip">Pincode</label>
                          <input type="number" class="form-control" id="zip" name="zip" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==6) return false;" />
                          <div class="invalid-feedback">
                              <input type="hidden" id="pinv" name="pinv" >
                            Pin  code required. 
                          </div>
                      </div>
                      <!--Grid column-->
      
                      <!--Grid column-->
                      <div class="col-lg-4 col-md-6 mb-4">
                          <label for="zip"></label>
                          <button type="button" onclick="myFunction()" class="btn btn-danger w-100" >verify pin</button>
                          <p id="demo"></p>
                      </div>
                      <!--Grid column-->
      
                    </div>
                    <!--Grid row-->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                      <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                    </div>
                  </div>
                  {% if default_billing_address %}
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                    <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:20 }}</label>
                  </div>
                 {% endif %}
                <hr>
                <h3>Payment Options </h3>
                <div class="d-block my-3">
                  
                  <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" value="S" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="debit">Strip</label>
                  </div>
                  <!-- <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" value="P" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="paypal">Paypal </label>
                  </div> -->
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
  
              </form>
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4 mb-4">
            {% include "order_snippet.html" %}
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </div>
    </main>
    <!--Main layout-->
  
    {% endblock %}

    {% block js %} 
      <script>
        
        var hideable_billing_form = $('.hideable_billing_form');
        var use_default_billing = document.querySelector("input[name=use_default_billing]");

        use_default_billing.addEventListener('change', function() {
          if (this.checked) {
            hideable_billing_form.hide();
          } else {
            hideable_billing_form.show();
          }
        })

        function myFunction() {
          var pincode = document.getElementById("zip").value;
          p = pincode.toString().length;
          if (p < 6) {
            alert("Enter a Valide 6 Digit Pincode")
          }
          else{
            switch(pincode){
              case "686122":
                alert("Item will be Delivered to this place")
                document.getElementById("pinv").value = "T";
                break;
              case "686581":
                alert("Item will be Delivered to this place")
                document.getElementById("pinv").value = "T";
                break;
              case "686121":
                alert("Item will be Delivered to this place")
                document.getElementById("pinv").value = "T";
                break;
              default:
                alert("Item NOT delivered to this plase")
                document.getElementById("pinv").value = "F";
            }
          }
          
        }

        
              </script>
{% endblock %}