{% extends 'nav.html'%}

{% block footer %}

      <!-- Footer -->
      <div class="container-fluid fdiv" id="footerid">
        <footer class="bg-primary text-white p-0">
          <div class="contanier p-3">
            <div class="row">
              <div class="col-lg-3 pb-2">
                <h4>About As</h4>
                <p>Bootstrap requires the use of the HTML5 doctype. Without it, you’ll see some funky incomplete styling, but including it shouldn’t cause any considerable hiccups.
                  Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, 
                  all of which are almost exclusively geared towards the normalization of cross browser styles. Let’s dive in.
                </p>
              </div>
              <div class="col-lg-3 pb-2">
                <h4>Usefull Linkes</h4>
                <ul class="list-unstyled">
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Checkout</a></li>
                  <li><a href="">Contact</a></li>
                </ul>
              </div>
              <div class="col-lg-3 pb-2">
                <h4>Contact Us</h4>
                <address>Sports World, ARUVITHURA P.O.
                  KOTTAYAM
                  State: KERALA
                  Pincode - 686122</address>
                  <strong>Phone:</strong> +91 5676457989 <br/>
                  <strong>Email:</strong> <a href="martin8086benny@gmail.com">SportsWorld</a>
              </div>
              <div class="col-lg-3 pb-2">
                <h4>Newsletters</h4>
                <p>Enter your email address below:</p>
                <form action="">
                  <div class="input-group">
                    <input type="email" name="" id="" class="form-control">
                    <div class="input-group-append">
                      <button class="btn btn-secondary">Subsribe</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="contanier-fluid text-center bg-secondary py-2">
            welcome to Sports Worlds
          </div>
        </footer>
        </div>
            <!-- Footer -->
            {% endblock %}