{% extends 'footer.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sport World</title>
    {% block extra_head %}
      <style>
        .pd{
          padding-top: 20px;
        }
        .cointiner h1{
          text-align: center;
          
          padding: 15px;
          
        }
        .cointiner{
          color: lawngreen;
        margin-top: 20px;}
      </style>
      {% endblock %}
</head>


<body>
    {% block content %}

    
    
    <!--Section: Products v.3-->
    <section class="text-center mb-4 pd">

      <div class="row wow fadeIn">

        {% for item in object_list %}
        <div class="col-lg-3 col-md-6 mb-4">

          <div class="card">

            <div class="view overlay">
              {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" {% endcomment %}
              <img src="{{ item.image.url }}" class="card-img-top">
              <a href="{{ item.get_absolute_url }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <a href="" class="grey-text">
                <h5>{{ item.get_category_display }}</h5>
              </a>
              <h5>
                <strong>
                  <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                    <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong>$
                {% if item.discount_price %}
                {{ item.discount_price }}
                {% else %}
                {{ item.price }}
                {% endif %}
                </strong>
              </h4>

            </div>

          </div>

        </div>
        {% endfor %}
      </div>
    </section>
    <!--Section: Products v.3-->
  
   
    <!--new product end-->
    </div>
 {% endblock %}
 
</body>
</html>