{% extends 'footer.html'%}

     {% block extra_head %}

     <link rel="stylesheet" href="/static/css/home.css">
      {% endblock %}




    {% block content %}
      <div class="container-fluid ca">
        <div class="row">
          {% for item in items %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src='/media/images/{{item.image}}' alt="Card image cap"> 
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.category}}</p>
                      <a href="product/" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
            </div>
            {% endfor %}
          </div>
        </div>
      
    
   {% endblock %}
 
