{% extends 'nav.html'%}

{% block title %} My orders {% endblock %}
{% block css %}
<style>
    .row2{
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block content %} 
<div class="container">
    <div class="table-responsive text-nowrap">
            <h2> My Order Summary</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"> </th>
                <th scope="col"><strong></strong>Billing id</th>
                <th scope="col"><strong>Amount</strong></th>
                
                <th scope="col"><strong></strong>Date of purchase</th>
                <th scope="col"><strong></strong>Items</th>
                </tr>
            </thead>
            <tbody>
                {% for item in myitems %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.ref_code }}</td>
                <td>{{ item.payment.amount }}</td>
                <td>{{ item.ordered_date }}</td>
                <td><a href="{% url 'user:myorderItemsView' item.id %}"">items</a></td>
                {% endfor %} 
            </tr>
            </tbody>
         </table>
        </div>
       
        
        </div>
</div>
{% endblock %}