{% extends 'nav1.html'%}


    
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
        <!-- <a class="navbar-brand" href=" ">Sports World</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
            </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/login">Sign In </a>
            </li> -->
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/about">About Us</a>
            </li> -->
            <li class="nav-item active">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact"><i class="far fa-file-alt"></i>  Contact Us</a>
            </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/offer"><i class="fas fa-tags"></i> Offer Zone </a>
            </li> -->
            <li class="nav-item active dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> Profile
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="#"></a> -->
                <a class="dropdown-item" href="/order-summary">order-summary</a>
                <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Offer</a>
              </div> -->
            </li>
            
          </ul>
          <form method="get" action="/search" class="form-inline my-2 my-lg-0" >
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" id="sbtn" type="submit">Search</button> -->
            <button class="btn btn-danger navbar-btn">Search</button>
          </form>
        </div>
      </nav>

    {% endblock %}

