{% extends 'owner/Onav.html'%}

{% block content %}
<div class="container-fluid">
        <h1>Order </h1>
        <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">user</th>
                    <th scope="col">ordered_date</th>
                    <th scope="col">ordered</th>
                    <th scope="col">ref_code</th>
                    <th scope="col">billing_address</th>
                    <th scope="col">payment</th>
                    <th scope="col">being_delivered</th>
                    <th scope="col">received</th>
                    <th scope="col">refund_requested</th>
                    <th scope="col">refund_granted</th>
                    <th scope="col">Items</th>
                  
                  </tr>
                </thead> 
                <tbody>
                {% for order in orders %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{order.user.first_name}}</td>
                    <td>{{order.ordered_date}}</td>
                    <td>
                    {% if order.ordered == True %}
                    <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly> </td>
                    {% else %}
                    <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                    {% endif %} </td>
                    <td>{{order.ref_code}}</td>
                    <td>{{order.billing_address}}</td> 
                    <td>{{order.payment}}</td>  
                    <td>
                        {% if order.being_delivered == True %}
                        <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly>  </td>
                        {% else %}
                        <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                        {% endif %} </td> 
                    <td>
                        {% if order.received == True %}
                        <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly> </td>
                        {% else %}
                        <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  > </td>
                        {% endif %} </td>
                     
                    <td>
                        {% if order.refund_requested == True %}
                        <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly>  </td>
                        {% else %}
                        <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                        {% endif %} </td>
                        <td>
                            {% if order.refund_granted == True %}
                            <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly>  </td>
                            {% else %}
                            <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                            {% endif %} </td> 
                    <td><a href="{% url 'orderitems' order.user.id %}"> Items </a></td>
                    <td><a class="btn btn-outline-warning" href="{% url 'edit-order' order.id %}"> Edit  </a></td>
                  </tr>
                 
                {% endfor %}
                </tbody>
              </table>
             
    </div>
{% endblock %}