{% extends 'owner/Onav.html'%}

{% block css %}
<script>
    
</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    
    
<div class="row text-center">
      
  <div class="col-md-12">
      <h1 style="text-align: center;">Order List</h1>
    <form  method="get">
        {{myfilter.form}}
        <button  class="btn btn-outline-success my-2 my-sm-0" type="submit"  >Search</button>
        <button type="button" class="btn btn-outline-info" style="float: right;" id="btnExport" value="Export">Download PDF</button>
        <!-- <input type="button" id="btnExport" value="Export" /> -->
        
      </form>
      
    </div>
    </div>
     

        
        <table class="table table-borderless" id="tblCustomers">
                <thead>
                
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">User</th>
                    <th scope="col">Ordered_date</th>
                    <th scope="col">Ordered</th>
                    <th scope="col">Reference Code</th>
                    <th scope="col">billing_address</th>
                    <th scope="col">payment</th>
                    <th scope="col">Being Delivered</th>
                    <th scope="col">Delivered</th>
                    <th scope="col">Refund Requested</th>
                    <th scope="col">Refund Given</th>
                  
                  </tr>
                </thead> 
                <tbody>
                {% for order in orders %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{order.user.first_name}}</td>
                    <td>{{order.ordered_date}}</td>
                    <td>
                    {% if order.ordered == True %}
                    <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly> </td>
                    {% else %}
                    <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                    {% endif %} </td>
                    <td>{{order.ref_code}}</td>
                    <td>{{order.billing_address}}</td> 
                    <td>{{order.payment}}</td>  
                    <td>
                        {% if order.being_delivered == True %}
                        <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly>  </td>
                        {% else %}
                        <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                        {% endif %} </td> 
                    <td>
                        {% if order.received == True %}
                        <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly> </td>
                        {% else %}
                        <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  > </td>
                        {% endif %} </td>
                     
                    <td>
                        {% if order.refund_requested == True %}
                        <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly>  </td>
                        {% else %}
                        <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                        {% endif %} </td>
                        <td>
                            {% if order.refund_granted == True %}
                            <input type="checkbox" id="vehicle1" disabled="disabled"  name="vehicle1" value="TRue" checked readonly>  </td>
                            {% else %}
                            <input type="checkbox" id="eaccepted" name="eaccepted" value="T" disabled="disabled"  >  </td>
                            {% endif %} </td> 
                    
                  </tr>
                 
                {% endfor %}
                </tbody>
              </table>
             
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/tableHTMLExport.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>

<script type="text/javascript">
  $("body").on("click", "#btnExport", function () {
      html2canvas($('#tblCustomers')[0], {
          onrendered: function (canvas) {
              var data = canvas.toDataURL();
              var docDefinition = {
                  content: [{
                      image: data,
                      width: 500
                  }]
              };
              pdfMake.createPdf(docDefinition).download("Order-details.pdf");
          }
      });
  });
</script>
{% endblock %}