{% extends 'owner/Onav.html'%}

{% block css %} 

<style>
    h4{
      text-align: center;
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h4>Order Items list</h4>
    <form  method="get">
        {{myfilter.form}}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button type="button" class="btn btn-outline-info" style="float: right;" id="btnExport" value="Export">Download PDF</button>
      </form>
    <div class="table-responsive">
      
        <table class="table table-borderless" id="tblCustomers">
            <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">user</th>
                  <th scope="col">ordered</th>
                  <th scope="col">item</th>
                  <th scope="col">quantity</th>
                  <th scope="col">OrderedDate</th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{item.user.first_name}}</td>
                    <td>{{item.ordered}}</td>
                    <td>{{item.item}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.AddedDate}}</td> 
                  </tr>
                 
                {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
{% endblock %}

{% block js %}
<script src="/static/js/tableHTMLExport.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>

<script type="text/javascript">
  $("body").on("click", "#btnExport", function () {
      html2canvas($('#tblCustomers')[0], {
          onrendered: function (canvas) {
              var data = canvas.toDataURL();
              var docDefinition = {
                  content: [{
                      image: data,
                      width: 500
                  }]
              };
              pdfMake.createPdf(docDefinition).download("Order-items-details.pdf");
          }
      });
  });
</script>
{% endblock %}
