{% extends 'owner/Onav.html'%} 
{% block extra_head %} 
    <link rel="stylesheet" href="/static/css/gallery-grid.css">
{% endblock %}



    

  
      
        {% block content %} 
        <!---new  -->
        <div class="container gallery-container">

          <h1>Admin Actions</h1>
      
          <p class="page-description text-center"></p>
          
          <div class="tz-gallery">
      
              <div class="row">
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="{% url 'NewOwner' %}">
                          <img src="/static/img/ad1.jpg" alt="Park">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b3.jpg" alt="Bridge">
                      </a>
                  </div>
                  <div class="col-sm-12 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b1.jpg" alt="Tunnel">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b1.jpg" alt="Coast">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b1.jpg" alt="Rails">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b1.jpg" alt="Traffic">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b1.jpg" alt="Rocks">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b3.jpg" alt="Benches">
                      </a>
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <a class="lightbox" href="#">
                          <img src="/static/img/b2.jpg" alt="Sky">
                      </a>
                  </div>
              </div>
      
          </div>
      
      </div>
      {% endblock %}
    
      {% block js %} 
    <script>
      baguetteBox.run('.tz-gallery');
  </script>
  {% endblock %}
 